.title {
    font-weight: bold;
    color: darkred;
    display: flex;
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}